@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

.register-bg {
    background-color: #00a2ff;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.register-btn {
    background-color: #cd31fc;
    color: rgb(255, 255, 255);
}

.register-btn:hover {
    background-color: rgb(76, 255, 41);
    color: black;
}
